
#container {
    position: relative;
    width: 450px;
    height: 450px;
    background: url("../img/backgr-desert.jpg");
    border:5px dotted yellow;
    overflow:hidden;
}

.resource {
    position: absolute;
    bottom: 0;
}

.resource:nth-child(2) {
    right:0;
}

#jump , #shots , #lifes  {
    float: left;
    border: 5px dotted black;
    margin: 10px;
    color: #2b2b05;
    font-weight: bold;
    font-size: 1.2em;
    font-family: monospace;
    padding: 7px;
}

#WinOrLoose {
    text-align: center;
    width: 380px;
    font-size: 2em;
    color: #244184;
    float: left;
    border: 5px dotted black;
    margin: 10px;
    font-weight: bold;
    font-family: -webkit-pictograph;
    display: none;

}

a{
    text-decoration: none;
}

#controls {
    display: none;
    border:5px dotted yellow;
    background-color: #e89746;
    font-weight: bold;
    font-family: -webkit-pictograph;
    width:520px;
}

button {
    border-radius: 20%;
    padding:0.5em;
    font-family: -webkit-pictograph;
    font-weight: bold;
    margin:1em auto;
    background-color: orange;
}



